{% extends 'receipts/base.html' %}

{% block title %}Accounts{% endblock title %}

{% block body %}

<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of reciepts</th>
        </thead>
        <tbody>
        {% for account in accounts_list %}
            <tr>
                <td>{{account.name}}</td>
                <td>{{account.number}}</td>
                <td>{{account.receipts.count}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>

{% endblock body %}
