{% extends 'receipts/base.html' %}

{% block title %}Categories{% endblock title %}

{% block body %}

<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of reciepts</th>
        </thead>
        <tbody>
        {% for category in categories_list %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.receipts.count}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>

{% endblock body %}
